{
  "s3_endpoint": "https://<Your S3 Endpoint>",
  "s3_bucket": "<Your S3 Bucket>",
  "s3_access_key": "<Your Access Key for S3>",
  "s3_secret_access_key": "<Your Secret Access Key for S3>",
  "elasticsearch_host": "<ElasticSearch Host IP>:<Port>",
  "camera_command": "fswebcam -r 640x480 --jpeg 85 --delay 1"
}
